@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
}

html {
	scroll-behavior: smooth;
}

body {
	--main-bg-color: #f2f4fc;
	background-color: var(--main-bg-color);
	font-family: "Roboto", sans-serif;
	width: 100%;
	margin: 0 auto;
}

header {
	width: 77%;
	height: 122px;
	margin: 0 auto;
}

h3 {
	font-size: 40px;
	font-weight: 700;
	color: #514d67;
}

h4 {
	font-size: 24px;
	font-weight: 500;
	color: #514d67;
}

.navbar {
	display: flex;
	padding-top: 70px;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
}

#menu {
	visibility: hidden;
	display: none;
}

.menu-dkt {
	width: 295px;
}

.menu-dkt ul {
	font-weight: 500;
	font-size: 17px;
	line-height: 130%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: nowrap;
}

.menu-dkt li,
.footer-menu li {
	display: inline;
}

.menu-dkt li a,
.footer-menu li a {
	text-decoration: none;
	color: #6b708d;
}

.menu-dkt li a.active-link {
	color: #072ac8;
}

.cta {
	color: white;
	background-color: #072ac8;
	padding: 15px 36px 15px 36px;
	border: none;
	cursor: pointer;
}

#home {
	margin: 0 auto;
	padding-top: 6%;
	max-width: 77%;
}

.main-banner {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.main-banner-text-area {
	width: 48%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: flex-end;
	padding-bottom: 3%;
}

.main-banner-text-area h1,
.explained-project h1,
.contact-form-area h1 {
	color: #292e47;
	font-size: 60px;
	font-weight: 700;
	line-height: 70.31px;
	text-align: left;
	margin-bottom: 15px;
	margin-top: 0px;
}

.main-banner-text-area p {
	max-width: 435px;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	color: #6b708d;
}

.main-banner-text-area h2 {
	color: #6b708d;
	font-size: 17px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	padding-left: 40px;
}

.call-to-action-b {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: flex-start;
	padding-top: 15px;
}

.main-banner-img-area {
	width: 48%;
	height: fit-content;
	position: relative;
	background-image: url("/img/hero-image.png");
	background-size: contain;
	background-position: center right;
	background-repeat: no-repeat;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.main-banner-img-area img.card {
	position: absolute;
	object-fit: cover;
	width: 100%;
	max-height: 100%;
	grid-column: 1 / 2;
}

.main-banner-img-area img.cardTwo {
	object-fit: cover;
	width: 100%;
	max-height: 100%;
	grid-column: 3 / 4;
	grid-row: 3 / 4;
}

#logos {
	max-width: 77%;
	margin: 0 auto;
	padding-top: 135px;
}

.business-logos {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.business-logos img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

#recent-projects,
#our-services {
	margin: 0 auto;
	max-width: 77%;
	padding-top: 135px;
}

.projects-cards-area,
.services-cards-area {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.projects-cards-area::-webkit-scrollbar {
	display: none;
}

.services-cards-area::-webkit-scrollbar {
	display: none;
}

.project-card,
.service-card {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	background-color: white;
	width: 33%;
	padding-bottom: 30px;
	margin-right: 3%;
	box-shadow: 0px 38.775508880615234px 77.55101776123047px 0px #0000001a;
	scroll-snap-align: start;
}

.project-card:hover {
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.project-card img {
	width: auto;
	height: 240px;
}

.project-card h4,
.service-card h4 {
	padding-left: 30px;
	margin-bottom: 10px;
}

.project-card a,
.service-card a {
	padding-left: 30px;
	color: #072ac8;
	font-size: 17px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	cursor: pointer;
}

.project-topic,
.service-topic {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 55px;
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 150%;
	color: #6b708d;
}

#clients-quote {
	padding-top: 200px;
}

.clients-quote-area {
	margin: 0 auto;
	position: relative;
	background-image: url("/img/orbit.png");
	background-size: cover;
	background-position: center center;
	width: 92%;
	height: 622px;
	background-color: #292e47;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
}

.clients-quote-text {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}

.clients-quote-area h3 {
	color: white;
	text-align: center;
}

.clients-quote-area q {
	width: 596px;
	color: #ffc600;
	font-weight: 500;
	font-size: 24px;
	line-height: 160%;
	text-align: center;
}

.clients-quote-profile {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
}

.clients-quote-profile img {
	width: 50px;
	height: 50px;
	border-radius: 150px;
}

.clients-quote-profile-text {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	padding-left: 10px;
}

.clients-quote-profile-text h5 {
	margin: 0;
	color: #a2d6f9;
	font-size: 17px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
}

.clients-quote-profile-text h6 {
	margin: 0;
	color: #f4f6fc;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0em;
	text-align: left;
}

.memoji {
	position: absolute;
	width: 150px;
	height: 150px;
}

.one {
	left: 77px;
	top: 51px;
}

.two {
	left: 77px;
	top: 399px;
}

.three {
	right: 5%;
	top: 10%;
}

.four {
	right: 5%;
	top: 70%;
}

.icon-service-space {
	background-color: #ecf7ff;
	width: 80px;
	height: 80px;
	border-radius: 150px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	margin-left: 30px;
}

.icon-service {
	width: 40px;
}

#contact {
	margin: 0 auto;
	margin-top: 200px;
	width: 90%;
	height: 500px;
	background-color: #ffc600;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: center;
}

.contact-area {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 227px;
	width: 100%;
}

.contact-area h3 {
	color: #292e47;
	margin-bottom: 20px;
}

.contact-form {
	display: flex;
	padding-top: 50px;
}

.contact-form-email {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	align-items: center;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	color: #292e47;
	background-color: white;
	width: 393px;
	height: 80px;
}

.contact-form-email img {
	padding-left: 30px;
}

.contact-form input[type="email"] {
	border: none;
	font-size: 17px;
	margin-left: 10px;
	height: 100%;
	background-color: transparent;
	width: 310px;
}

.contact-form input[type="email"]:focus {
	outline: none;
}

.contact-form input[type="button"] {
	width: 198px;
	height: 80px;
	background-color: #072ac8;
	color: white;
	text-align: center;
	border: none;
	margin-left: 20px;
	font-size: 17px;
	font-weight: bold;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	height: 220px;
	width: 77%;
	margin-top: 170px;
}

.business-details {
	display: flex;
	flex-direction: column;
}

.business-details img {
	width: 99px;
	height: 30px;
}

.business-details p {
	width: 252px;
	height: 52px;
	color: #6b708d;
	font-size: 17px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
}

.footer-menu {
	display: flex;
	width: 435px;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
}

.footer-menu ul {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-menu li {
	width: 30%;
}

/* Project */

.explained-project {
	padding-top: 140px;
	margin: 0 auto;
	width: 77%;
}

.title-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
}

.title-details h2 {
	color: #6b708d;
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
}

.title-details span {
	color: #292e47;
}

.title-details span > .title-details-data {
	color: #6b708d;
}

.title-details span,
.title-details-data {
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: right;
}

.project-img-section {
	position: relative;
	width: 100%;
	margin-top: 80px;
}

.project-img {
	z-index: 4;
	position: absolute;
	background-size: cover;
	width: 100%;
	height: 444px;
}

.project-img-bg {
	z-index: 3;
	background-size: cover;
	width: 100%;
	height: 444px;
	filter: blur(25px);
}

.project-text-explanation {
	padding-top: 70px;
}

.project-text-explanation p {
	font-size: 20px;
	font-weight: 400;
	line-height: 150%;
	text-align: left;
	color: #6b708d;
}

#other-projects {
	margin: 0 auto;
	padding-top: 3%;
	width: 76%;
}

.contact-form-area {
	max-width: 77%;
	margin: 0 auto;
	margin-top: 140px;
}

.contact-form-area form {
	display: grid;
	height: auto;
	margin-top: 80px;
	grid-template-columns: 1fr 0.1fr 1fr;
	grid-template-rows: repeat(6, auto);
}

.contact-form-area label {
	color: #6b708d;
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 10px;
}

.contact-form-area input {
	background-color: #6b708d1a;
	border: none;
	height: 70px;
	margin-bottom: 40px;
	padding-left: 20px;
	font-weight: 400;
	font-size: 17px;
	line-height: 150%;
}

.contact-page-form input[id="fname"] {
	grid-column: 1 / 4;
	grid-row: 2 / 3;
}

.contact-page-form label[for="email"] {
	grid-row: 3 / 4;
}

.contact-page-form input[id="email"] {
	grid-row: 4 / 5;
	grid-column: 1 / 2;
}

.contact-page-form label[for="phone"] {
	grid-row: 3 / 4;
	grid-column: 3 / 4;
}

.contact-page-form input[id="phone"] {
	grid-row: 4 / 5;
	grid-column: 3 / 4;
}

.contact-page-form label[for="message"] {
	grid-row: 5 / 6;
}

.contact-page-form textarea {
	font-family: inherit;
	grid-row: 6 / 7;
	grid-column: 1 / 4;
	background-color: #6b708d1a;
	border: none;
	resize: vertical;
	height: 100px;
	padding: 20px 0px 0px 20px;
	font-size: 17px;
}

.contact-page-form button {
	grid-row: 7 / 8;
	grid-column: 1 / 4;
	background-color: #072ac8;
	margin-top: 40px;
	height: 80px;
	color: white;
	cursor: pointer;
	border: none;
}

.contact-page-form button:disabled {
	background-color: #6b708d;
}

.contact-sent {
	height: 100%;
	width: 100%;
	background-color: #292e47;
	z-index: 1;
	user-select: none;
	overflow-x: hidden;
	overflow-y: hidden;
}

.contact-form-area button {
	margin-top: 3%;
}

@media (max-width: 1024px) {
	header,
	#home,
	#recent-projects,
	#our-services,
	#logos,
	#other-projects,
	footer {
		width: 90%;
		max-width: unset;
	}

	#home,
	#recent-projects,
	#our-services,
	#logos,
	footer {
		padding-top: 10%;
	}

	#clients-quote {
		padding-top: 10%;
	}
	#contact {
		margin-top: 10%;
		height: 400px;
	}

	#contact,
	.clients-quote-area {
		width: 100%;
	}

	.main-banner-text-area h1,
	.explained-project h1,
	.contact-form-area h1 {
		font-size: 40px;
		line-height: 115%;
	}

	.main-banner-text-area p {
		font-size: 18px;
	}

	.projects-cards-area,
	.services-cards-area {
		overflow-x: scroll;
		overscroll-behavior-x: contain;
		scroll-behavior: smooth;
		scroll-snap-type: x mandatory;
		margin-left: -5%;
		margin-right: -5%;
	}

	.project-card,
	.service-card {
		min-width: 40%;
		width: max-content;
		box-shadow: 0px 1px 9px 0px #0000001a;
		margin-bottom: 2%;
	}

	.project-card:hover {
		animation: none;
	}

	.one,
	.three {
		top: 2%;
	}

	.two,
	.four {
		top: 65%;
	}

	footer {
		margin-top: 0;
		height: unset;
		padding-bottom: 3%;
	}

	.explained-project {
		width: 90%;
		padding-top: 10%;
	}

	.project-img-section {
		margin-top: 6%;
	}

	.project-text-explanation {
		padding-top: 5%;
	}

	.contact-form-area {
		max-width: 90%;
	}
}

@media (max-width: 768px) {
	body {
		width: 100%;
	}

	header {
		width: 90%;
		margin: unset;
	}

	.navbar {
		margin: 0 auto;
		width: 90%;
	}

	.navbar .cta {
		visibility: hidden;
	}

	.menu-dkt {
		display: none;
	}

	#home {
		width: 90%;
		padding-top: 20px;
	}

	.main-banner {
		flex-direction: column-reverse;
		height: auto;
	}

	.main-banner-img-area {
		position: relative;
		background-position: center;
		background-size: contain;
		height: 400px;
		width: 100%;
	}

	.main-banner-img-area img.card {
		grid-column: 1 / 2;
	}

	.main-banner-img-area img.cardTwo {
		grid-column: 3 / 4;
		grid-row: 3 / 4;
	}

	.main-banner-text-area {
		padding-top: 5%;
		align-items: center;
		width: 100%;
	}

	.main-banner-text-area h1 {
		text-align: center;
		font-size: 2.5rem;
		line-height: normal;
	}

	.main-banner-text-area p {
		text-align: center;
	}

	#logos {
		max-width: unset;
	}

	.business-logos {
		flex-wrap: wrap;
		justify-content: center;
		width: 90%;
		margin: 0 auto;
	}

	.business-logos img {
		width: 23%;
		padding-bottom: 60px;
		padding-right: 37px;
	}

	#recent-projects,
	#our-services,
	#other-projects {
		width: 100%;
		padding-top: 0px;
		max-width: unset;
	}

	#recent-projects h3,
	#our-services h3,
	#other-projects h3 {
		text-align: center;
	}

	.projects-cards-area,
	.services-cards-area {
		margin-left: 10px;
		overflow-x: scroll;
		overscroll-behavior-x: contain;
		scroll-behavior: smooth;
		scroll-snap-type: x mandatory;
		overscroll-behavior-x: contain;
		margin: 0;
	}

	.project-card,
	.service-card {
		min-width: 60%;
		margin-bottom: 30px;
		box-shadow: 0px 12px 12px 0px #0000001a;
	}

	.project-card:hover {
		animation: none;
	}

	#clients-quote {
		width: 100%;
		padding-top: 100px;
	}

	.memoji {
		width: 20%;
		height: auto;
	}

	.one {
		left: 0%;
		top: 40px;
	}

	.two {
		left: 25%;
		top: 40px;
	}

	.three {
		left: 50%;
		top: 40px;
	}

	.four {
		left: 75%;
		top: 40px;
	}

	.clients-quote-area {
		width: 100%;
		padding-top: 7%;
		height: 550px;
	}

	.clients-quote-text {
		width: 90%;
		margin: 0 auto;
		padding-top: 50px;
	}

	.clients-quote-area q {
		width: unset;
	}

	.clients-quote-profile {
		padding-top: 50px;
	}

	#contact {
		width: 100%;
		margin-top: 40px;
	}

	.contact-area {
		width: 100%;
		height: 350px;
	}

	.contact-area h3 {
		text-align: center;
	}

	.contact-form {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.contact-form-email {
		margin-bottom: 20px;
	}

	footer {
		width: 100%;
		margin-top: 30px;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.business-details {
		align-items: center;
	}

	.business-logos {
		width: 100%;
	}

	.business-details p {
		text-align: center;
	}

	.footer-menu {
		width: 100%;
		padding-left: 0;
	}

	.footer-menu ul {
		height: 90px;
		text-align: center;
		padding-left: 0px;
	}

	/* menu mobile */

	#menu {
		z-index: 2;
		visibility: visible;
		display: initial;
	}

	#menu-bar {
		width: 45px;
		height: 40px;
		margin: 30px 0 20px 20px;
		cursor: pointer;
	}

	.bar {
		height: 5px;
		width: 100%;
		background-color: #072ac8;
		display: block;
		border-radius: 5px;
		transition: 0.3s;
	}

	#bar1 {
		transform: translateY(-4px);
	}

	#bar3 {
		transform: translateY(4px);
	}

	.nav {
		transition: 0.3s;
		display: none;
	}

	.nav ul {
		margin: 0 -200px;
		width: 100%;
		text-align: center;
		padding: 0;
	}

	.nav li {
		list-style: none;
		padding: 12px 0;
	}

	.nav li a {
		color: white;
		font-size: 20px;
		text-decoration: none;
	}

	.nav li a:hover {
		font-weight: bold;
	}

	.change ul {
		margin: 0 -160px;
	}

	.menu-bg,
	#menu {
		top: 7%;
		left: 80%;
		position: absolute;
	}

	.menu-bg {
		z-index: 1;
		width: 0;
		height: 0;
		background: #072ac8;
		transition: 0.3s;
		top: 0;
		left: 0;
		position: absolute;
	}

	.change {
		display: block;
	}

	.change .bar {
		background-color: white;
	}

	.change #bar1 {
		transform: translateY(4px) rotateZ(-45deg);
	}

	.change #bar2 {
		opacity: 0;
	}

	.change #bar3 {
		transform: translateY(-6px) rotateZ(45deg);
	}

	.change-bg {
		width: 100%;
		height: 100%;
	}

	.explained-project {
		width: 90%;
		margin: 0 auto;
		padding-top: 30px;
	}

	.title-details {
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: flex-start;
	}

	.project-img-section {
		margin-top: 30px;
		width: 100%;
	}

	.project-img-bg {
		filter: blur(10px);
	}

	.contact-form-area form {
		grid-template-columns: 100%;
		grid-template-rows: repeat(8, auto);
	}

	.contact-page-form input[id="fname"] {
		grid-column: 1 / 1;
		grid-row: 2 / 3;
	}

	.contact-page-form label[for="email"] {
		grid-row: 3 / 4;
	}
	.contact-page-form input[id="email"] {
		grid-row: 4 / 5;
		grid-column: 1 / 1;
	}

	.contact-page-form label[for="phone"] {
		grid-row: 5 / 6;
		grid-column: 1 / 1;
	}
	.contact-page-form input[id="phone"] {
		grid-row: 6 / 7;
		grid-column: 1 / 1;
	}

	.contact-page-form label[for="message"] {
		grid-row: 7 / 8;
		grid-column: 1 / 1;
	}

	.contact-page-form textarea {
		grid-row: 8 / 9;
		grid-column: 1 / 1;
	}

	.contact-page-form button {
		grid-row: 9 / 10;
		grid-column: 1 / 1;
	}
}
